

.lt_category_left {
  float: left;
  width: 90px;
  height: 100%;
}
.lt_category_left a {
  display: block;
  width: 90px;
  height: 50px;
  color: #666;
  line-height: 50px;
  text-align: center;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #E3E4E5;
}
.lt_category_left a.current {
  background-color: #fff;
  border-right: none;
}
.lt_category_right {
  overflow: hidden;
  height: 100%;
}
.lt_category_right li {
  float: left;
  width: 33.33%;
}
.lt_category_right li img {
  width: 70px;
  height: 50px;
  margin: 0 auto;
}
.lt_category_right li p {
  text-align: center;
}
.lt_category_right li a {
  display: block;
}
.lt_category_left,
.lt_category_right {
  position: relative;
}